.about-header {
  background-image: url(abou-images/about-heading.jpg);
  position: relative;
  &:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.1);
  }
}
.about-section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3rem 0;
}
.about-wrapper-con {
  display: grid;
  width: 90%;
  grid-template-columns: 1fr;
  grid-auto-rows: auto;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}
.about-item {
  display: grid;
  grid-template-columns: 0.3fr 0.5fr;
  grid-auto-rows: 500px;
  justify-content: center;
}
.about-img-box {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-image: url(abou-images/sub1.jpg);
  background-repeat: no-repeat;
  background-position: center;
}
.about-img-box2 {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-image: url(abou-images/sub2.jpg);
  background-repeat: no-repeat;
  background-position: center;
}
.about-item-content {
  color: #fff;
  font-size: 1.2rem;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  p {
    margin-bottom: 2rem;
    padding: 1rem 2rem;
  }
}
.about-item.item2 {
  grid-template-columns: 0.5fr 0.3fr;
  .about-img-box2 {
    order: 1;
  }
}
.about-bckr {
  width: 100%;
  height: 35vh;
  background-image: url(abou-images/about-plate.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  background-attachment: fixed;
  &::after {
    content: "";
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0;
  }
}
@media only screen and(max-width: 680px) {
  .about-item,
  .about-item.item2 {
    grid-template-columns: 0.7fr;
    grid-auto-rows: 400px auto;
    row-gap: 2rem;
  }
  .about-item.item2 {
    .about-img-box2 {
      order: -1;
    }
  }
  .about-item-content {
    p {
      padding: 1rem 0rem;
    }
  }
}
