.navigation {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
  color: #fff;
  width: 100%;
  z-index: 2;
  transition: all 0.3s ease-in-out;
  position: relative;
  border-bottom-left-radius: 0.3rem;
  border-bottom-right-radius: 0.3rem;
  z-index: 3;
}
.navigation.fixed {
  padding: 0.2rem 1rem;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.548);

  animation: animateNav 0.3s ease-in-out;
  top: 0%;
  .logo-con {
    h1 {
      font-size: 1.5rem;
    }
  }
}
@keyframes animateNav {
  0% {
    opacity: 0;
    width: 0;
  }
  100% {
    opacity: 1;
    width: 100%;
  }
}

.logo-con {
  display: grid;
  justify-content: center;
  align-items: center;
  padding: 1rem 4rem;
  h1 {
    font-size: 2rem;
    text-align: center;
    letter-spacing: 0.4rem;
    margin-right: -0.4rem;
    font-weight: bolder;
  }
  h3 {
    text-align: center;
    font-family: "Great Vibes", cursive;
    font-size: 0.7rem;
    font-weight: 100;
    letter-spacing: 0.5rem;
    text-transform: uppercase;
    text-align: center;
    margin-right: -0.1rem;
    color: gold;
    padding-top: 0.3rem;
  }
}
.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 1rem;
  .reservation {
    padding: 0.5rem 1rem;
    color: #fff;
    background-color: transparent;
    border: 2px solid #fff;
    letter-spacing: 0.2rem;
    margin-right: -0.2rem;
    font-size: 0.9rem;
    border-radius: 0.3rem;
    font-family: "Good Vibes", cursive;
    cursor: pointer;
  }
}
.reservation {
  cursor: pointer;
}

.hamburger {
  margin: 0 2rem;
  border: 2px solid #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0.7rem;
  cursor: pointer;
  &:hover {
    border: 2px solid gold;
  }
  .line {
    width: 2rem;
    margin-bottom: 0.4rem;
    height: 0.1rem;
    background-color: #fff;
    border: 1px solid #fff;
    &:last-child {
      margin-bottom: 0;
    }
  }
}
@media only screen and(max-width: 760px) {
  .reservation {
    display: none;
  }
}
