.upper-footer {
  width: 100%;
  padding: 1.5rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}
.upper-footer-wrapper {
  width: 100%;
  display: grid;
  gap: 2rem;
  padding: 3rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  justify-content: center;
  align-items: center;
  color: #fff;
}
.footer-text {
  display: flex;
  width: fit-content;
  flex-direction: column;
  padding: 0.5rem;
  width: 100%;
  align-items: center;

  text-transform: uppercase;
  justify-content: flex-start;
}
.footer-text.col1 {
  display: flex;
  flex-direction: column;
  .name {
    font-size: 3rem;
    text-align: center;
    font-weight: bolder;
  }
  h2 {
    letter-spacing: 0.2rem;
    margin-right: -0.2rem;
    text-align: center;
  }
}
.footer-text {
  h3 {
    margin-bottom: 1.3rem;
    font-size: 1.3rem;
    letter-spacing: 0.3rem;
    font-weight: bolder;
  }
  span {
    letter-spacing: 0.2rem;
    margin-bottom: 0.6rem;
    font-size: 0.9rem;
  }
}
